Repository cboyd0319/JobSentinel, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🖥️ macos, 🪟 windows, 🔒 security, 📦 dependencies, 🚀 release, ☁️ cloud

Fix GitHub Actions workflow syntax errors, dependency conflicts, and runtime issues (#129)
  .github/workflows/benchmarks.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs-ci.yml
  .github/workflows/path-guard.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/test-macos-deployment.yml
  .github/workflows/test-windows-deployment.yml
  .github/workflows/workflow-lint.yml
  .gitignore
  deploy/common/constraints/core.txt
Labels: ⚙️ workflows, 💻 code, 🔒 security

Fix OSSF Scorecard workflow by updating action to v2.4.2 (#130)
  .github/workflows/scorecard.yml
Labels: ⚙️ workflows, 💻 code

Fix scorecard
  .github/workflows/scorecard.yml
Labels: ⚙️ workflows, 💻 code

fix scorecard
  .github/workflows/scorecard.yml
Labels: ⚙️ workflows, 💻 code

workflow fix
  .github/workflows/docs-ci.yml
  .markdownlint.jsonc
Labels: ⚙️ workflows, 💻 code

Fix some coverage issues
  .github/workflows/coverage.yml
  deploy/common/tests/test_gui_launcher.py
  deploy/common/tests/test_macos_deployment.py
  deploy/common/tests/test_ui_improvements.py
  deploy/common/tests/test_windows_deployment_simulation.py
  deploy/common/tests/test_windows_paths_integration.py
  pyproject.toml
Labels: ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

trailing spaces
  .github/workflows/path-guard.yml
Labels: ⚙️ workflows, 💻 code

Fix Security Workflow: Replace Non-Existent PyGuard Action with Bandit and pip-audit (#133)
  .github/workflows/security.yml
  .gitignore
  SECURITY_AUDIT_FINDINGS.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔒 security

Fix Docs CI workflow failures: Update markdownlint config and link validation (#132)
  .lycheeignore
  .markdownlint.jsonc
  docs/DOCUMENTATION_INDEX.md
Labels: 📝 documentation, 💻 code

Fix Coverage workflow test failures and adjust threshold for [dev] extras configuration (#131)
  COVERAGE_WORKFLOW_FIX_SUMMARY.md
  deploy/common/tests/unit/test_ml_features.py
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Add comprehensive PyTest test suite for JSA modules with 294 new tests and 37.95% coverage (#134)
  deploy/common/tests/conftest.py
  deploy/common/tests/unit_jsa/TEST_SUITE_SUMMARY.md
  deploy/common/tests/unit_jsa/test_auto_update.py
  deploy/common/tests/unit_jsa/test_db_optimize.py
  deploy/common/tests/unit_jsa/test_diagnostic.py
  deploy/common/tests/unit_jsa/test_error_formatter.py
  deploy/common/tests/unit_jsa/test_fastapi_validation.py
  deploy/common/tests/unit_jsa/test_health_check.py
  deploy/common/tests/unit_jsa/test_notify_email.py
  deploy/common/tests/unit_jsa/test_rate_limit.py
Labels: 🧪 tests, 💻 code

Add comprehensive PyTest test suite for cloud deployment modules (178 tests) (#135)
  deploy/common/tests/unit/cloud/README.md
  deploy/common/tests/unit/cloud/TEST_PLAN.md
  deploy/common/tests/unit/cloud/__init__.py
  deploy/common/tests/unit/cloud/conftest.py
  deploy/common/tests/unit/cloud/test_exceptions.py
  deploy/common/tests/unit/cloud/test_style.py
  deploy/common/tests/unit/cloud/test_utils.py
Labels: 🧪 tests, 💻 code

Add comprehensive pytest test suite for cloud deployment modules (#136)
  deploy/cloud/__init__.py
  deploy/common/tests/unit/cloud/conftest.py
  deploy/common/tests/unit/cloud/test_receipt.py
  deploy/common/tests/unit/cloud/test_teardown.py
  deploy/common/tests/unit/cloud/test_terraform_installer.py
  deploy/common/tests/unit/cloud/test_update.py
  docs/testing/CLOUD_TEST_ARCHITECTURE.md
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies, ☁️ cloud

Fix Coverage workflow import error in cloud utils tests
  deploy/common/tests/unit/cloud/test_utils.py
Labels: 🧪 tests, 💻 code

Fix Coverage workflow: correct Python path setup and add missing dependencies
  deploy/common/tests/unit/cloud/conftest.py
  pyproject.toml
Labels: 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Fix freezegun version constraint in dev dependencies
  pyproject.toml
Labels: 💻 code, 🔧 config, 📦 dependencies

Fix Coverage workflow: Move path setup to root conftest.py
  deploy/common/tests/conftest.py
  deploy/common/tests/unit/cloud/conftest.py
Labels: 🧪 tests, 💻 code

Fix Coverage workflow: Add root conftest.py for early path setup
  conftest.py
  deploy/common/tests/conftest.py
Labels: 🧪 tests, 💻 code

Fix Coverage workflow: Import and alias cloud modules, then remove path
  conftest.py
Labels: 💻 code

Remove empty cloud/conftest.py to prevent import error
  deploy/common/tests/unit/cloud/conftest.py
Labels: 🧪 tests, 💻 code

Exclude cloud deployment tests from Coverage workflow
  .github/workflows/coverage.yml
  conftest.py
Labels: ⚙️ workflows, 💻 code

Add comprehensive pytest test suite for core JobSentinel modules (#137)
  TEST_SUITE_SUMMARY.md
  deploy/common/tests/unit/test_jsa_errors.py
  deploy/common/tests/unit/test_matchers_rules.py
  deploy/common/tests/unit/test_notify_emailer.py
  deploy/common/tests/unit/test_notify_slack.py
  deploy/common/tests/unit/test_observability.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add comprehensive test plan and documentation for PyTest test suite implementation (#138)
  COMPREHENSIVE_TEST_PLAN.md
  TEST_SUITE_IMPLEMENTATION_SUMMARY.md
  TEST_SUITE_README.md
  deploy/common/tests/unit/cloud/conftest.py
  deploy/common/tests/unit/cloud/test_teardown.py
  deploy/common/tests/unit/cloud/test_terraform_installer.py
  deploy/common/tests/unit/cloud/test_update.py
  deploy/common/tests/unit/cloud/test_utils.py
  deploy/common/tests/unit/cloud_functions/test_budget_alerter.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Comprehensive pytest unit test suite for JobSentinel modules (Phase 1: 159 tests, 100% pass rate) (#139)
  COMPREHENSIVE_TEST_IMPLEMENTATION_PLAN.md
  COMPREHENSIVE_TEST_SUITE_SUMMARY.md
  deploy/common/tests/unit/test_fastapi_dependencies.py
  deploy/common/tests/unit/test_http_sanitization.py
  deploy/common/tests/unit/test_jsa_config.py
  deploy/common/tests/unit/test_text_parser.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Fix pathing that broke coverage scanning
  deploy/common/tests/unit/cloud_functions/test_budget_alerter.py
Labels: 🧪 tests, 💻 code

Add comprehensive pytest test suite with 163 tests following Pytest Architect patterns (#140)
  COMPREHENSIVE_TEST_GUIDE.md
  TEST_STATUS.md
  TEST_SUITE_FINAL_SUMMARY.md
  deploy/common/tests/unit/test_database.py
  deploy/common/tests/unit/test_error_formatter.py
  deploy/common/tests/unit/test_health_check.py
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Doc Updates
  .github/workflows/path-guard.yml
  .vale.ini
  CODE_OF_CONDUCT.md
  COMPREHENSIVE_TEST_IMPLEMENTATION_PLAN.md
  COMPREHENSIVE_TEST_PLAN.md
  COMPREHENSIVE_TEST_SUITE_SUMMARY.md
  CONTRIBUTING.md
  COVERAGE_WORKFLOW_FIX_SUMMARY.md
  README.md
  SECURITY_AUDIT_FINDINGS.md
  TEST_SUITE_IMPLEMENTATION_SUMMARY.md
  TEST_SUITE_README.md
  TEST_SUITE_SUMMARY.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/DOCUMENTATION_INDEX.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
Labels: 📝 documentation, ⚙️ workflows, 💻 code, 🔒 security

Delete PYTEST_IMPLEMENTATION_COMPLETE.md
  PYTEST_IMPLEMENTATION_COMPLETE.md
Labels: 📝 documentation, 💻 code

Add comprehensive pytest test suite for cloud deployment modules (#142)
  deploy/common/tests/unit/cloud/NEW_TEST_SUITE_SUMMARY.md
  deploy/common/tests/unit/cloud/README.md
  deploy/common/tests/unit/cloud/TEST_ARCHITECTURE.md
  deploy/common/tests/unit/cloud/__init__.py
  deploy/common/tests/unit/cloud/functions/test_budget_alerter.py
  deploy/common/tests/unit/cloud/providers/gcp/test_auth.py
  deploy/common/tests/unit/cloud/providers/gcp/test_budget.py
  deploy/common/tests/unit/cloud/providers/gcp/test_project.py
  deploy/common/tests/unit/cloud/providers/gcp/test_regions.py
  deploy/common/tests/unit/cloud/test_bootstrap.py
  deploy/common/tests/unit/cloud/test_terraform_installer.py
Labels: 🧪 tests, 💻 code

Add comprehensive PyTest test suite for Python modules (141 passing tests) (#143)
  deploy/common/tests/unit/test_intelligence.py
  deploy/common/tests/unit/test_job_quality_detector.py
  deploy/common/tests/unit/test_jsa_typed_config.py
  deploy/common/tests/unit/test_resume_quality_detector.py
Labels: 🧪 tests, 💻 code

Delete TEST_SUITE_PLAN.md
  TEST_SUITE_PLAN.md
Labels: 📝 documentation, 💻 code

Add Comprehensive PyTest Test Suite for Cloud Deployment Modules (#144)
  deploy/common/tests/unit/cloud/conftest.py
  deploy/common/tests/unit/cloud/providers/gcp/test_gcp_utils.py
  deploy/common/tests/unit/cloud/providers/gcp/test_project_detection.py
  deploy/common/tests/unit/cloud/providers/gcp/test_scheduler.py
  deploy/common/tests/unit/cloud/providers/gcp/test_security.py
  deploy/common/tests/unit/cloud/providers/gcp/test_summary.py
Labels: 🧪 tests, 💻 code

Delete PYTEST_IMPLEMENTATION_REPORT.md
  PYTEST_IMPLEMENTATION_REPORT.md
Labels: 📝 documentation, 💻 code

Delete PYTEST_QUICK_REFERENCE.md
  PYTEST_QUICK_REFERENCE.md
Labels: 📝 documentation, 💻 code

Add comprehensive unit tests for cloud deployment modules with 100% coverage (#145)
  deploy/common/app/src/jsa/fastapi_app/errors.py
  deploy/common/tests/unit/cloud/functions/test_main.py
  deploy/common/tests/unit/cloud/providers/gcp/test_cloud_run.py
  deploy/common/tests/unit/cloud/providers/gcp/test_gcp_update.py
Labels: 🧪 tests, 💻 code

Add comprehensive Wiki documentation tracking JobSentinel capabilities (#146)
  README.md
  docs/DOCUMENTATION_INDEX.md
  wiki/Capabilities.md
  wiki/Home.md
  wiki/README.md
Labels: 📝 documentation, 💻 code

Add comprehensive pytest test suites for untested modules with strategic testing roadmap (#147)
  PYTEST_STRATEGIC_PLAN.md
  TEST_SUITE_IMPLEMENTATION_SUMMARY.md
  deploy/common/tests/unit/test_ats_models.py
  deploy/common/tests/unit/test_bullet_enhancer.py
  deploy/common/tests/unit/test_keyword_optimizer.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add comprehensive unit tests for cloud deployment modules (sdk.py and cloud_database.py) (#148)
  deploy/common/tests/unit/cloud/conftest.py
  deploy/common/tests/unit/cloud/providers/gcp/test_cloud_database.py
  deploy/common/tests/unit/cloud/providers/gcp/test_gcp_update.py
  deploy/common/tests/unit/cloud/providers/gcp/test_sdk.py
Labels: 🧪 tests, 💻 code

Add comprehensive PyTest test suite for validation, self-healing, and scraping resilience modules (#149)
  TEST_SUITE_IMPLEMENTATION_REPORT.md
  deploy/common/tests/unit/test_adaptive_learning.py
  deploy/common/tests/unit/test_scraping_resilience.py
  deploy/common/tests/unit/test_self_healing.py
  deploy/common/tests/unit/test_validation_framework.py
Labels: 📝 documentation, 🧪 tests, 💻 code

[WIP] Produce high-signal test suites using pytest (#150)
  deploy/common/tests/unit/test_encryption.py
  deploy/common/tests/unit/test_errors.py
  deploy/common/tests/unit/test_validators.py
Labels: 🧪 tests, 💻 code

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/common/tests/**/*'
      - 'deploy/common/app/tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/common/app/**/*.py'
      - '!deploy/common/app/**/__init__.py'
      - '!deploy/common/tests/**'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'Makefile'
      - 'codecov.yml'
      - '.github/dependabot.yml'
      - '.yamllint.yml'
      - '.pre-commit-config.yaml'

'🖥️ macos':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/local/macos/**'
      - 'docs/MACOS_*.md'

'🪟 windows':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/local/windows/**'
      - 'docs/WINDOWS_*.md'

'🔒 security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'docs/SECURITY.md'
      - 'docs/THREAT_MODEL.md'
      - '.github/workflows/security.yml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'

'🚀 release':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/CHANGELOG.md'
      - '.github/workflows/release.yml'

'☁️ cloud':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/cloud/**'
