Repository cboyd0319/JobSentinel, changes with the labels that .github/labeler.yml gives for each.
All labels: 📝 documentation, ⚙️ workflows, 🧪 tests, 💻 code, 🔧 config, 🖥️ macos, 🪟 windows, 🔒 security, 📦 dependencies, 🚀 release, ☁️ cloud

.github/labeler.yml:

# Configuration for PR auto-labeling
# Labels are applied based on changed files

'📝 documentation':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '*.md'
      - '.github/**/*.md'

'⚙️ workflows':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

'🧪 tests':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/common/tests/**/*'
      - 'deploy/common/app/tests/**/*'
      - '**/test_*.py'
      - 'pytest.ini'
      - 'tox.ini'

'💻 code':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/common/app/**/*.py'
      - '!deploy/common/app/**/__init__.py'
      - '!deploy/common/tests/**'

'🔧 config':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'Makefile'
      - 'codecov.yml'
      - '.github/dependabot.yml'
      - '.yamllint.yml'
      - '.pre-commit-config.yaml'

'🖥️ macos':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/local/macos/**'
      - 'docs/MACOS_*.md'

'🪟 windows':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/local/windows/**'
      - 'docs/WINDOWS_*.md'

'🔒 security':
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - 'docs/SECURITY.md'
      - 'docs/THREAT_MODEL.md'
      - '.github/workflows/security.yml'

'📦 dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'

'🚀 release':
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/CHANGELOG.md'
      - '.github/workflows/release.yml'

'☁️ cloud':
  - changed-files:
    - any-glob-to-any-file:
      - 'deploy/cloud/**'

Add comprehensive pytest test suite with 163 tests and testing standards (#151)
  TEST_IMPLEMENTATION_GUIDE.md
  deploy/common/tests/unit/test_jsa_config_facade.py
  deploy/common/tests/unit/test_ml_confidence_scorer.py
  deploy/common/tests/unit/test_resume_models.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Update MCP
  .github/copilot-mcp.json
Labels: 💻 code

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ⚙️ workflows, 💻 code

Add Claude Code GitHub Workflow (#152)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Cleanup .github/workflows
  .github/copilot-mcp.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ⚙️ workflows, 💻 code

Update Playwright MCP
  .github/copilot-mcp.json
Labels: 💻 code

Add comprehensive unit tests for GCP bootstrap module (45 tests, 79.81% coverage) (#153)
  COMPREHENSIVE_TEST_IMPLEMENTATION_REPORT.md
  deploy/common/tests/unit/cloud/providers/gcp/test_gcp.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Fix macOS-Local deployment path resolution and enhance testing (#154)
  .github/workflows/test-macos-deployment.yml
  deploy/common/scripts/macos_setup.py
  deploy/local/macos/README.md
  deploy/local/macos/launch-gui.command
  deploy/local/macos/setup.command
Labels: ⚙️ workflows, 💻 code, 🖥️ macos

Removing Docs
  COMPREHENSIVE_TEST_GUIDE.md
  COMPREHENSIVE_TEST_IMPLEMENTATION_REPORT.md
  PYTEST_STRATEGIC_PLAN.md
  TEST_IMPLEMENTATION_GUIDE.md
  TEST_STATUS.md
  TEST_SUITE_FINAL_SUMMARY.md
  TEST_SUITE_IMPLEMENTATION_REPORT.md
  TEST_SUITE_IMPLEMENTATION_SUMMARY.md
Labels: 📝 documentation, 💻 code

Add comprehensive unit tests for JSA middleware modules (Phase 2) (#155)
  deploy/common/tests/unit_jsa/TEST_COVERAGE_REPORT.md
  deploy/common/tests/unit_jsa/test_input_validation_middleware.py
  deploy/common/tests/unit_jsa/test_logging_module.py
  deploy/common/tests/unit_jsa/test_rate_limit_middleware.py
  deploy/common/tests/unit_jsa/test_request_id_middleware.py
Labels: 🧪 tests, 💻 code

Implement comprehensive PyTest test suites following industry best practices (#156)
  .gitignore
  TESTING_SUMMARY.md
  TEST_PLAN.md
  deploy/common/tests/unit_jsa/test_config_service.py
  deploy/common/tests/unit_jsa/test_error_formatter_enhanced.py
  deploy/common/tests/unit_jsa/test_sanitization_http.py
Labels: 📝 documentation, 🧪 tests, 💻 code

[WIP] Add comprehensive pytest test suites with best practices (#157)
  TEST_PLAN.md
  deploy/common/tests/unit/cloud_functions/test_budget_alerter.py
  deploy/common/tests/unit_jsa/test_http_sanitization_full.py
  deploy/common/tests/unit_jsa/test_macos_shortcuts_full.py
  deploy/common/tests/unit_jsa/test_windows_shortcuts_full.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add RipGrep Instructions
  docs/RIPGREP_INTEGRATION.md
Labels: 📝 documentation, 💻 code

[WIP] Incorporate Ripgrep integration documentation into product (#158)
  README.md
  deploy/common/app/src/jsa/cli.py
  deploy/common/app/src/jsa/config_validator.py
  deploy/common/app/src/jsa/deduplicator.py
  deploy/common/app/src/jsa/filters.py
  deploy/common/app/src/jsa/health_check.py
  deploy/common/app/src/jsa/log_analyzer.py
  deploy/common/app/src/jsa/preflight_check.py
  deploy/common/app/src/jsa/resume_analyzer.py
  deploy/common/app/src/jsa/watchers.py
  deploy/common/app/src/matchers/keyword_filter.py
  deploy/common/tests/unit_jsa/test_resume_analyzer.py
  deploy/common/tests/unit_jsa/test_ripgrep_cli.py
  docs/QUICKSTART.md
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Add RipGrep integration components: watch-jobs.sh script and comprehensive demo (#159)
  deploy/common/examples/ripgrep_demo.py
  deploy/common/scripts/watch-jobs.sh
Labels: 💻 code

Update Readme and logo
  README.md
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

PyTest Architect: Add comprehensive test suite foundation - 207 tests, +3.91% coverage (#161)
  PYTEST_IMPLEMENTATION_SUMMARY.md
  deploy/common/app/src/jsa/fastapi_app/validation.py
  deploy/common/tests/unit/test_confidence_scorer.py
  deploy/common/tests/unit/test_filters.py
  deploy/common/tests/unit/test_validation_comprehensive.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Optimize test suite: Improve speed by 57% following pytest best practices (#162)
  deploy/common/tests/conftest.py
  deploy/common/tests/unit/test_llm_resilient_client.py
  deploy/common/tests/unit/test_observability.py
  deploy/common/tests/unit/test_scraping_resilience.py
  deploy/common/tests/unit_jsa/test_rate_limit.py
  deploy/common/tests/unit_jsa/test_sanitization.py
  docs/TEST_OPTIMIZATION_GUIDE.md
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Add Comprehensive PyTest Test Suite Framework (169 tests, 98.39% avg coverage) (#163)
  deploy/common/tests/unit/test_cache.py
  deploy/common/tests/unit/test_cost_tracker.py
  deploy/common/tests/unit/test_scraping.py
  deploy/common/tests/unit/test_secure_subprocess.py
Labels: 🧪 tests, 💻 code

Establish PyTest Architect test infrastructure and achieve 100% coverage for web_ui.py core module (#164)
  CORE_MODULE_COVERAGE_REPORT.md
  deploy/common/tests/unit/test_concurrent_database.py
  deploy/common/tests/unit/test_database.py
  deploy/common/tests/unit/test_web_ui.py
  pyproject.toml
Labels: 📝 documentation, 🧪 tests, 💻 code, 🔧 config, 📦 dependencies

Comprehensive Test Coverage for Core Modules Following PyTest Architect Standards (#165)
  CORE_MODULES_TEST_COVERAGE_FINAL.md
  deploy/common/app/src/concurrent_database.py
  deploy/common/tests/unit/test_concurrent_database.py
  deploy/common/tests/unit/test_database.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add comprehensive PyTest Architect test suites for core modules with 69% coverage (#166)
  PYTEST_ARCHITECT_FINAL_REPORT.md
  deploy/common/tests/unit/test_agent.py
  deploy/common/tests/unit/test_concurrent_database.py
Labels: 📝 documentation, 🧪 tests, 💻 code

PyTest Architect: Comprehensive Test Coverage for Core Modules (91% Average Coverage) (#167)
  deploy/common/tests/unit/test_agent.py
  deploy/common/tests/unit/test_concurrent_database.py
  deploy/common/tests/unit/test_database_postgresql_config.py
Labels: 🧪 tests, 💻 code

Logo update
  docs/images/logo.png
Labels: 📝 documentation, 💻 code

PyTest Architect: Achieve 94.82% test coverage for core modules with 186 passing tests (#168)
  PYTEST_ARCHITECT_FINAL_REPORT_100PCT.md
  deploy/common/tests/unit/test_agent.py
Labels: 📝 documentation, 🧪 tests, 💻 code

Add comprehensive test suites for core modules achieving 85% coverage with PyTest Architect standards (#169)
  deploy/common/tests/unit/test_concurrent_database.py
  deploy/common/tests/unit/test_unified_database.py
Labels: 🧪 tests, 💻 code

CodeCov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

PyTest Architect: Achieve 96.59% Test Coverage for Core Modules (#170)
  CORE_MODULES_100PCT_COVERAGE_REPORT.md
  PYTEST_ARCHITECT_ACHIEVEMENT_REPORT.md
  PYTEST_ARCHITECT_FINAL_SUMMARY.md
  deploy/common/tests/unit/test_agent.py
Labels: 📝 documentation, 🧪 tests, 💻 code

CodeCov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
  pyproject.toml
Labels: ⚙️ workflows, 💻 code, 🔧 config, 📦 dependencies

Cov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
Labels: ⚙️ workflows, 💻 code

Cov Update
  .github/workflows/coverage.yml
  deploy/common/tests/unit/test_health_check.py
Labels: ⚙️ workflows, 🧪 tests, 💻 code

Cov Update
  .github/workflows/coverage.yml
  pyproject.toml
Labels: ⚙️ workflows, 💻 code, 🔧 config, 📦 dependencies

Cov Tweaks
  .github/workflows/coverage.yml
  pyproject.toml
Labels: ⚙️ workflows, 💻 code, 🔧 config, 📦 dependencies

PyTest Architect: Achieve 97.22% Test Coverage for Core Modules with 202 Comprehensive Tests (#171)
  PYTEST_ARCHITECT_COVERAGE_FINAL_UPDATE.md
  PYTEST_ARCHITECT_FINAL_IMPLEMENTATION_SUMMARY.md
  deploy/common/tests/unit/test_agent.py
  deploy/common/tests/unit/test_concurrent_database.py
Labels: 📝 documentation, 🧪 tests, 💻 code
